<div class="container_big-card">
    <div class="bid-card-photo">
        <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" 
        alt="imagem"
        height="80px"
        width="100px">
    </div>

    <div class="bid-card-title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="bid-card-description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor purus ut est tristique tristique. Nam iaculis felis risus, ut pretium nibh elementum in. Sed ac sem lectus. Aenean a nisi vel mi vestibulum scelerisque. Etiam molestie vestibulum neque id pretium. Nunc at tortor metus. Quisque id velit pharetra, ultrices lectus eget, finibus tellus. Curabitur tempus ipsum dui, ut dictum sapien feugiat non. Nullam mattis turpis sed tempus hendrerit. Suspendisse in rhoncus lorem. Ut turpis arcu, eleifend ut venenatis vehicula, accumsan eu tortor. Aliquam laoreet, quam at elementum finibus, tortor quam sollicitudin arcu, vitae consequat orci ipsum et lacus. Vivamus accumsan, purus vitae bibendum consectetur, lectus lorem auctor metus, quis ultricies dolor libero ut massa.
        </p>
    </div>
</div>