<div class="container_small_card">
    
    <div class="container_small_card-content">
        
        <div class="small-card-photo">
            <img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" 
            alt="imagem"
            height="80px"
            width="100px">
        </div>
    
        <div class="small-card-title">
            <h1><a href="#">Saiu a nova versão do Angular</a></h1>
        </div>
    </div>
</div>

<div class="container_small_card-separator">
    <hr>
</div>